---
---

:root {
    --bg-color: #102B30;
    //#f9c05c
    --blog-link: #3fabbe;
    --content-txt-color: #fefcfa;
    --link-color: #3fabbe;
    --name-color: #be523f;

    --link-highlight: var(--content-txt-color);//--name-color);
    --ressec-color: var(--content-txt-color);
    --resloc-bg: var(--name-color);
    --resloc-color: var(--bg-color);
}

/*
gem install bootstrap-sass -v 3.3.7
curl -o _sass/_bootstrap-custom.scss https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/_bootstrap.scss # https://github.com/twbs/bootstrap-sass#sass
*/
@import 'bootstrap-custom';

/*
gem install rouge
rougify style github > _sass/syntax.css
*/
@import "rouge";

/*
wget https://github.com/primer/primer-css/archive/master.zip
unzip master.zip
cd primer-css-master
npm install --save primer-css
cp node_modules/primer-css/build.css _sass/
*/
@import "build";

@media (max-width: 768px) {
  .container-fluid .markdown-body {
      padding-left: 0px;
      padding-right: 0px;

  }

  .std-nav {
    display: none;
    visibility: collapse;
  }

  .name {
    position: relative;
  }

  .mobile-nav, .col-sm-6 {
    text-align: center;
  }

  .scroll {
    text-align: left;
  }
}

@media (min-width: 768px) {

  .col-sm-6 {
    .std-nav {
      position: absolute;
      padding-right: 1em;
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .mobile-nav {
    display: none;
    visibility: collapse;
  }

  .scroll {
    width:100%;
    max-height:25em;
    overflow-y:scroll;
  }

}

.blogpost {
  color: var(--blog-link)
}

.col-sm-6 {
  font-size: 16px;
}

.markdown-body {
  color: var(--content-txt-color);
}

body {
  overflow-y:visible;
}

.leftbg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: var(--leftbg-color);
}

.logo {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 150px;
}

.name {
  font-size: 22px;
}

.name a {
  color: var(--name-color);
}

.resloc {
  color: var(--resloc-color);
  text-indent: 5px;
  background-color: var(--resloc-bg);
}

.ressec {
  color: var(--ressec-color);
}

.rightjust {
  list-style: none;
  text-align: right;
}

a {
  color: var(--link-color);
}

a:hover, .active {
  color: var(--link-highlight);
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  height: 100%;
}

ul {
  font-size: 16px;
}
